<div class="h-full p-3 pt-0 max-w-xl hidden lg:inline-block sidebar_right">
  <mat-card>
    <!--Card image-->
    <mat-card-header>
      <mat-card-title class="whitespace-no-wrap">CATEGORIES</mat-card-title>
    </mat-card-header>
    <!--Card content-->
    <mat-card-content>
      <ul class="list-group list-group-flush">
        <li class="list-group-item px-0 pb-0">
          <!--Title-->
          <mat-card-title>
            <ul>
              <li *ngFor="let article of articleTypes$ | async" class="whitespace-no-wrap article_type_link my-2 ">
                <a [routerLink]="['/blogs',{blogType: article.key}]" class="hover:text-blue-400 font-thin">
                  <i class="far fa-folder mr-2"></i> {{ article.title }}({{article.num}})</a>
              </li>
            </ul>
          </mat-card-title>
          <!--Text-->
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="mt-3">
    <!--Card image-->
    <mat-card-header>
      <mat-card-title class="whitespace-no-wrap">FEATURED TAGS</mat-card-title>
    </mat-card-header>
    <!--Card content-->
    <mat-card-content>
      <ng-container  *ngFor="let tag of tagCloud$ | async">
        <a class="tag inline-block bg-blue-400 hover:bg-blue-600 font-white px-4 py-1 mx-2 my-1 text-white text-xs" [routerLink]="['/blogs',{tags: tag.key}]" *ngIf="tag != 'recommand'">{{ tag.key }}({{ tag.num }})</a>
      </ng-container>
    </mat-card-content>
  </mat-card>
  <mat-card class="mt-3">
    <!--Card image-->
    <mat-card-header>
      <mat-card-title class="whitespace-no-wrap">LINKS</mat-card-title>
    </mat-card-header>
    <!--Card content-->
    <mat-card-content>
      <ul class="list-group list-group-flush">
        <li class="list-group-item px-0 pb-0">
          <!--Title-->
          <mat-card-title>
            <ul>
              <li class="whitespace-no-wrap article_type_link my-2 ">
                <a href="https://innovationroad.site" target="_blank" class="hover:text-blue-400 font-thin">
                  <i class="fa fa-link mr-2"></i> Innovation Road</a>
              </li>
              <li class="whitespace-no-wrap article_type_link my-2 ">
                <a href="http://mandy.yongqinghee.ml/" target="_blank" class="hover:text-blue-400 font-thin">
                  <i class="fa fa-link mr-2"></i> Mandy Resume</a>
              </li>
              <li class="whitespace-no-wrap article_type_link my-2 ">
                <a href="http://yongqinghee.ml/" target="_blank" class="hover:text-blue-400 font-thin">
                  <i class="fa fa-link mr-2"></i> Lorenzo Resume</a>
              </li>
            </ul>
          </mat-card-title>
          <!--Text-->
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>