<nav class="p-4 font-thin bg-blue-600 shadow-md fixed w-full z-50">
  <a href="#" class="brand mr-2">
    <img src="../../../assets/img/logo.png" alt="" class="w-8 inline-block mx-2 -mt-2">
  </a>
</nav>
<section class="w-48 inline-block float-left nav_menu_left fixed h-screen pt-20 text-sm text-gray-600">
  <a class="block hover:text-blue-900 hover:bg-gray-400 flex px-4 py-3" [routerLink]='["/manage/blogs"]'>
    <div class="flex-1">文章</div>
    <div><i class="fa fa-chevron-right"></i></div>
  </a>
  <a class="block hover:text-blue-900 hover:bg-gray-400 flex px-4 py-3" [routerLink]='["/manage/cfgs"]'>
    <div class="flex-1">配置</div>
    <div><i class="fa fa-chevron-right"></i></div>
  </a>
</section>