<div class="nav">
  <app-nav></app-nav>
</div>
<div class="container m-auto flex">
  <section class="w-full">
    <div *ngFor="let blog of blogs$ | async" class="px-10 py-4 bg-white mb-6 shadow-lg">
      <!-- Grid column -->
      <div class="">
        <!-- Post title -->
        <h2 class="font-bold mb-3 text-2xl"><a [routerLink]="['/blogs', blog._id]">{{blog.title}}</a></h2>
        <p class="mb-3 text-gray-700 font-thin">
          - {{blog.createdAt | date:"yyyy-MM-dd"}}
        </p>
        <!-- Excerpt -->
        <div class="flex">
          <div class="w-64 overflow-hidden mr-6" *ngIf="blog.bannerUrl != ''">
            <img class="w-full" src="{{blog.bannerUrl}}" alt="image">
          </div>
          <div class="text-gray-900 font-thin leading-relaxed flex-1">{{ blog.content | htmlFormat:'nohtml' | slice:0:300 }}</div>
        </div>
        <div class="my-4">
          <a [routerLink]="['/blogs', {blogType: blog.blogType}]" class="text-blue-400 font-weight-bold hover:text-blue-800">{{(blog.blogType || '') | blogType}}</a>
          <a [routerLink]="['/blogs', blog._id]" class="float-right inline-block text-blue-400 font-weight-bold hover:text-blue-800">View More</a>
        </div>
      </div>
      <!-- Grid row -->
    </div>
    <app-pagination [icur]="currentPage" [total]="blogCount$ | async" *ngIf="blogCount$"></app-pagination>
  </section>
  <app-sidebar></app-sidebar>
</div>
<app-footer></app-footer>