<nav class="opacity-75 mb-6 font-thin bg-white shadow-md">
  <div class="container m-auto">
    <a href="#" class="brand mr-2">
      <img src="../../../assets/img/logo.png" alt="" class="w-8 inline-block mx-2 -mt-2">
    </a>
    <a class="px-4 hover:text-blue-900 py-6 inline-block hover:bg-gray-200" [routerLink]='["/blogs"]'>首页</a>
    <a class="px-4 hover:text-blue-900 py-6 inline-block hover:bg-gray-200" href="https://yongqinghee.cf/" target="_blank">博主介绍</a>
    <a class="px-4 hover:text-blue-900 py-6 inline-block hover:bg-gray-200" href="https://innovationroad.site" target="_blank">创新驿路</a>
  </div>
</nav>